<div>
  <p>登録が完了しました！</p>
  <p>ユーザー認証メールをお送りいたしました。</p>
  <p>認証作業後、再度ログインお願いいたします。</p>
</div>
<div class="box-other">
  <%- if controller_name != 'sessions' %>
    <%= link_to "ログイン画面に戻る", new_session_path(resource_name) ,{class: "btn-pwborder" }%><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードを忘れた場合はこちら", new_password_path(resource_name) ,{class: "btn-pwborder" } %><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "確認メールが届いていませんか?", new_confirmation_path(resource_name), {class: "btn-pwborder" } %><br />
  <% end %>
</div>