<% flash.each do |message_type, message| %>
<font color="#50a649">
  <%= content_tag :div, message, class: message_type %>
</font>
<% end %>
<div>
  <p>登録が完了しました！</p>
  <p>ユーザー認証メールをお送りいたしました。</p>
  <p>認証作業後、再度ログインお願いいたします。</p>
</div>
<%= render "devise/shared/links" %>