<h1>お探しのページは見つかりませんでした</h1>
<p>お探しのページは</p>
<ul>
    <li>すでに削除されている</li>
    <li>アクセスしたアドレスが異なっている</li>
</ul>
<p>などの理由で見つかりませんでした。</p>
<p>後者の場合</p>
<ul>
    <li> 
     <div style="clear: both; padding: 10px 0 20px;">
        <%= link_to "トップへもどる", root_path, {class: "btn-border" }%>
     </div> 
    </li>
</ul>
<p>といった方法で、ご希望のページが見つかる場合もありますので、どうぞご利用ください。</p>