<p>
  <%= "#{@resource.name}  さん"    %>
  <br/>
  DbrandSceduleをご利用いただきありがとうございます。
  <br/>
  <br/>
</p>

<% if @resource.try(:unconfirmed_email?) %>
   <p>ご登録のメールアドレスが<%= @resource.unconfirmed_email %>に変更されたことをお知らせします。</p>
<% else %>
  <p>ご登録のメールアドレスが<%= @resource.email %>に変更されたことをお知らせします。</p>
<% end %>
